body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass Error: Invalid CSS after \"nav.scss\": expected \"{\", was \"\" \A         on line 1 of \\Users\\nick.novak\\Documents\\nick-novak.com_06.18.2015\\styles\\sass\\components\\_nav.scss \A         from line 2 of \\Users\\nick.novak\\Documents\\nick-novak.com_06.18.2015\\styles\\sass\\main.scss \A '; } 
                            
                            body * { 
                            display: none; 
                            } 