*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
  float: right;
  // width: 40%;
  a {
    position: relative;
    display: inline;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 200;
    font-size: 1em;
    &a:hover,
    &a:focus {
      outline: none;
    }
  }
}

nav li  {
  display: inline-block;
}

.nav__effect a {
  color: #ffffff;
  text-shadow: none;
  padding: 10px 0;
  text-decoration: none;

}

.nav__effect a{
    &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-5px);
    transform: translateX(-15px);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    pointer-events: none;
  }
}

.nav__effect a:hover::before,
.nav__effect a:focus::before {
  opacity: 0;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}

.nav__effect a:hover::after,
.nav__effect a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.header {
  background-color: #292f36;
}

// Headroom attributes

.headroom {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: .25s;
    -o-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    transition: transform .25s ease-in-out;
}

.headroom--unpinned {
    top: -108px;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
  -webkit-transform: translateY(-108px);
  -o-transform: translateY(-108px);
  -moz-transform: translateY(-108px);
  -ms-transform: translateY(-108px);
  transform: translateY(-108px);
}

.headroom--pinned {
   top: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.slide {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.slide--reset {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.slide--Up {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.slide--Down {
  background-color:  #4C4C4C;
  opacity: 0.9;
  border: grey;
  -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    // nav ul a {
    //   color: black;
    // }
}

.headroom--top {
background: none;
}