*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
  float: right;
  a {
    position: relative;
    display: inline;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 200;
    font-size: 1em;
    &a:hover,
    &a:focus {
      outline: none;
    }
  }
}

nav li  {
  display: inline-block;
}

.nav__effect a {
  color: #ffffff;
  text-shadow: none;
  padding: 10px 0;
  text-decoration: none;

}

.nav__effect a{
    &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-5px);
    transform: translateX(-15px);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    pointer-events: none;
  }
}

.nav__effect a:hover::before,
.nav__effect a:focus::before {
  opacity: 0;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}

.nav__effect a:hover::after,
.nav__effect a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

.header {
  background-color: #292f36;
}


// ---------------------- //
// ---------------------- //
// ------- new nav ------ //
// ---------------------- //
// ---------------------- //

// nav {
//   color: #333;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 46px;
//   padding-top: 8px;
//   right: 0;
//   z-index: 1000;
//   cursor: pointer;
//   overflow: hidden;
//   -webkit-transform: translate(0,0);
//   -moz-transform: translate(0,0);
//   -o-transform: translate(0,0);
//   transform: translate(0,0);
//   -webkit-transition: -webkit-transform .4s, height .3s, background .4s;
//   -moz-transition: -moz-transform .4s, height .3s, background .4s;
//   transition: transform .4s, height .3s, background .4s;
// }

// /* when hidden it goes up */
// nav.invisible {
//   -webkit-transform: translate(0,-64px);
//   -moz-transform: translate(0,-64px);
//   -o-transform: translate(0,-64px);
//   transform: translate(0,-64px);
//   -webkit-transition: -webkit-transform .2s;
//   -moz-transition: -moz-transform .2s;
//   -o-transition: -o-transform .2s;
//   transition: transform .2s;
//   opacity: 0;
// }

// /* when shown & detached position is fixed */
// nav.detached {
//   position: fixed;
//   background: rgba(255,255,255,.9);
//   -webkit-transition: -webkit-transform .3s, height .3s, background .4s, opacity .3s;
//   -moz-transition: -moz-transform .3s, height .3s, background .4s, opacity .3s;
//   -o-transition: -o-transform .3s, height .3s, background .4s, opacity .3s;
//   transition: transform .3s, height .3s, background .4s, opacity .3s;
// }

// /* increases menu width & height */
// nav.expanded {
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   cursor: default;
//   background: rgba(255,255,255,.85);
// }

// /* positions navigation content */
// // #navigation {
// //   -webkit-transform: translate(0,-700px);
// //   -moz-transform: translate(0,-700px);
// //   -o-transform: translate(0,-700px);
// //   transform: translate(0,-700px);
// //   opacity: 0;
// //   padding-top: 2em;
// //   text-align: center;
// //   -webkit-transition: -webkit-transform .15s, opacity .7s;
// //   -moz-transition: -moz-transform .15s, opacity .7s;
// //   -o-transition: -o-transform .15s, opacity .7s;
// //   transition: transform .15s, opacity .7s;
// // }

// /* shows navigation */
// nav.expanded #navigation {
//   -webkit-transform: translate(0,0);
//   -moz-transform: translate(0,0);
//   -o-transform: translate(0,0);
//   transform: translate(0,0);
//   opacity: 1;
// }

// ---------------------- //
// ---------------------- //
// ------- new nav ------ //
// ------- 8.04.15 ------ //
// ---------------------- //

// .navigation-bar {
//   background-color: GhostWhite;
//   border: 1px solid Gainsboro;
//   left: 0;
//   position: fixed;
//   right: 0;
//   top: 0;
//   z-index: 1000;
  
//   &.is-hidden {
//     opacity: 0;
//     -webkit-transform: translate(0,-60px);
//     -webkit-transition: -webkit-transform .2s,background .3s,color .3s,opacity 0 .3s;
//   }
  
//   &.is-visible {
//     opacity: 1;
//     -webkit-transform: translate(0,0);
//     -webkit-transition: -webkit-transform .2s,background .3s,color .3s;
//   }
  
//   ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
    
//     li {
//       display: inline-block;
//       padding: 1em;
//     }
//   }
// }


.headroom {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: .25s;
    -o-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    transition: transform .25s ease-in-out;
}
.headroom--unpinned {
    top: -108px;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
  -webkit-transform: translateY(-108px);
  -o-transform: translateY(-108px);
  -moz-transform: translateY(-108px);
  -ms-transform: translateY(-108px);
  transform: translateY(-108px);
}

.headroom--pinned {
   top: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.slide {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.slide--reset {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.slide--Up {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

.slide--Down {
  // background-color: #ffffff;
  // opacity: .075;
}