@font-face {
    font-family: 'lato-hairline';
    src: url('../../fonts/latoLight/lato-hairline.eot');
    src: url('../../fonts/latoLight/lato-hairline.eot') format('embedded-opentype'),
         url('../../fonts/latoLight/lato-hairline.woff') format('woff'),
         url('../../fonts/latoLight/lato-hairline.ttf') format('truetype'),
         url('../../fonts/latoLight/lato-hairline.svg#latohairline') format('svg');
         font-weight: lighter;
}

@font-face {
    font-family: 'lato-light';
    src: url('../../fonts/lato/lato-light.eot');
    src: url('../../fonts/lato/lato-light.eot') format('embedded-opentype'),
         url('../../fonts/lato/lato-light.woff') format('woff'),
         url('../../fonts/lato/lato-light.ttf') format('truetype'),
         url('../../fonts/lato/lato-light.svg#latolight') format('svg');
}

@font-face {
    font-family: 'lato-light';
    src: url('../../fonts/latobold/lato-bold.eot');
    src: url('../../fonts/latobold/lato-bold.eot') format('embedded-opentype'),
         url('../../fonts/latobold/lato-bold.woff') format('woff'),
         url('../../fonts/latobold/lato-bold.ttf') format('truetype'),
         url('../../fonts/latobold/lato-bold.svg#latobold') format('svg');
         font-weight: bold;
}